.form-control {
  flex: unset !important;
  width: auto !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 31, 84, 0.4) !important;
  border-color: rgba(0, 31, 84, 0) !important;
}

.text--color {
  color: #ffffff;
  transition: 0.3s;
}

.text--color:hover {
  color: #dcdcdc;
  transition: 0.3s;
}

.nav--color {
  background-color: #034078;
}

.btn--search,
.btn--search:active {
  background-color: #001f54 !important;
  color: #ffffff !important;
  transition: 0.3s;
}

.btn--search:hover {
  background-color: #001f54 !important;
  border-color: #0a1128;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: 0.3s;
}

.btn--search:focus {
  background-color: #001f54 !important;
  border-color: #0a1128;
  transition: 0.3s;
  box-shadow: 0 0 0 0.25rem rgba(0, 31, 84, 0.4) !important;
}

.btn--group-left, .btn--group-right {
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgba(108, 117, 125, 0.5) !important;
  border: none !important;
  font-size: 24px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  box-shadow: none !important;
  transition: 0.3s;
}

.btn--group-left {
  border-right: 1px solid rgba(108, 117, 125, 0.5) !important;
}

.btn--group-right {
  border-left: 1px solid rgba(108, 117, 125, 0.5) !important;
}

.temp--size {
  font-size: 48px !important;
  line-height: 48px !important;
}

.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
  color: #000000 !important;
  transition: 0.3s;
}